{% extends 'main/base.html' %}

{% block header %}
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/main">Grupo Coinp</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-row">
          <li class="nav-item ms-5" style="margin-left: 1em!important;">
            <a class="nav-link active" href="/main" aria-current="page">Inicio</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="https://store.grupocoinp.com">Tienda</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="https://store.grupocoinp.com">Tienda</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-link" href="https://store.grupocoinp.com">Tienda</a>
          </li>
        </ul>
        
        <!-- <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/main">Tienda</a> -->
      </div>

    </div>
    <!-- <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search"
    aria-label="Search"> -->
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="{{url_for('logout')}}">Sign out</a>
      </div>
    </div>
  </header>
{% endblock header %}

{% block nav %}
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/main">
                <span data-feather="home" class="align-text-bottom"></span>
                Asistencia
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file" class="align-text-bottom"></span>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="layers" class="align-text-bottom"></span>
                Integrations
              </a>
            </li>
          </ul>

          <h6
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle" class="align-text-bottom"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text" class="align-text-bottom"></span>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
{% endblock nav %}

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard - {{current_user.first_name}} {{current_user.last_name}}</h1>
            
          <div class="btn-toolbar mb-2 mb-md-0">

            {% if current_user.role_id == 1 %}
              {% with messages=get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show alert-transparent" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %} 
              <form method="post" action={{url_for("file_added")}} enctype="multipart/form-data">
                  {{form.csrf_token}}
                  <div class="btn-group me-2">
                  {{form.file(class_="btn btn-sm btn-outline-secondary", accept=".csv,.dat,.xlsx")}}
                  {{form.submit(class_="")}}
                  </div>
              </form>
            {% endif %}
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar align-text-bottom" aria-hidden="true">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div>
        </div>

        <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

        <h2>Asistencia</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID Empleado</th>
                <th scope="col">Empleado</th>
                <th scope="col">Mes</th>
                <th scope="col">Hora de Llegada</th>
              </tr>
            </thead>
            <tbody>
              {% if current_user.role_id == 1 %}
                  {% for i,row in file_csv.iterrows() %}
                    <tr>
                      <td {% if row['arrive_time'] >= '2022-07-01 00:00:00'|date("%Y-%m-%d %H:%M:%S") %}
                        class="table-danger"
                        {% endif %}>
                        {{i}}
                      </td>
                      <td {% if row['arrive_time'] >= '2022-07-01 00:00:00'|date("%Y-%m-%d %H:%M:%S") %}
                        class="table-danger"
                        {% endif %}>
                        {{row['employee_id']}}
                      </td>
                      <td {% if row['arrive_time'] >= '2022-07-01 00:00:00'|date("%Y-%m-%d %H:%M:%S") %}
                        class="table-danger"
                        {% endif %}>
                        {{row['employee_name']}}
                      </td>
                      <td {% if row['arrive_time'] >= '2022-07-01 00:00:00'|date("%Y-%m-%d %H:%M:%S") %}
                          class="table-danger"
                          {% endif %}>
                        {{row['arrive_time']|string}}
                      </td>
                      <td {% if row['arrive_time'] >= '2022-07-01 00:00:00'|date("%Y-%m-%d %H:%M:%S") %}
                        class="table-danger"
                        {% endif %}>
                        {{row['arrive_time']}}
                      </td>
                    </tr>
                  {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
{% endblock main %}